### Unencrypted secrets

# Ansible
/ansible/group_vars/*.yml
/ansible/group_vars/*.yaml

/ansible/host_vars/*.yml
/ansible/host_vars/*.yaml

/ansible/roles/*/files/etc/corosync/authkey

/ansible/roles/*/files/etc/kubernetes/*.conf
/ansible/roles/*/files/etc/kubernetes/pki/*.crt
/ansible/roles/*/files/etc/kubernetes/pki/*.key
/ansible/roles/*/files/etc/kubernetes/pki/*.pub
/ansible/roles/*/files/etc/kubernetes/pki/etcd/*.crt
/ansible/roles/*/files/etc/kubernetes/pki/etcd/*.key

# Terraform
**/terraform.tfvars

# K8s pki
/pki/*.pem
/pki/*.csr
/pki/*.kubeconfig
/pki/*.key
/pki/*.pub

### Terraform

#  Local .terraform directories
**/.terraform/*

# .tfstate files
**.tfstate
**.tfstate.*
