### Unencrypted secrets

# Terraform
**/locals.tf

# K8s pki
/pki/*.pem
/pki/*.csr
/pki/*.kubeconfig
/pki/*.key
/pki/*.pub
/pki/*.yaml

### Terraform

#  Local .terraform directories
**/.terraform/*

# .tfstate files
**.tfstate
**.tfstate.*

# Checkov
**/.external_modules/

### Python
.python-version
