launch+=gmysql

# gmysql-host=127.0.0.1
gmysql-host=localhost

# gmysql-port=3306

# gmysql-dbname=powerdns

# gmysql-user=powerdns

# gmysql-group=client

# gmysql-password=
gmysql-password={{ powerdns_mysql_password }}

# gmysql-dnssec=no

# gmysql-innodb-read-committed=yes

# gmysql-ssl=no

# gmysql-timeout=10

# gmysql-thread-cleanup=no
