# api=no

# api-key=

# default-soa-content=a.misconfigured.dns.server.invalid hostmaster.@ 0 10800 3600 604800 3600

# default-ttl=3600
default-ttl=14400

# disable-axfr=no
disable-axfr=yes

# local-address=0.0.0.0, ::
local-address=127.0.0.1

# local-port=53
local-port=5300

# setgid=
setgid=pdns

# setuid=
setuid=pdns

# version-string=full
version-string=anonymous

# webserver=no

# webserver-address=127.0.0.1

# webserver-allow-from=127.0.0.1,::1

# webserver-password=

# webserver-port=8081
