<cib crm_feature_set="3.1.0" validate-with="pacemaker-3.2" epoch="8" num_updates="2" admin_epoch="0" cib-last-written="Sun Jan 16 10:12:00 2022" update-origin="k8s-controller-01" update-client="cibadmin" update-user="root" have-quorum="0" dc-uuid="1">
  <configuration>
    <crm_config>
      <cluster_property_set id="cib-bootstrap-options">
        <nvpair id="cib-bootstrap-options-have-watchdog" name="have-watchdog" value="false"/>
        <nvpair id="cib-bootstrap-options-dc-version" name="dc-version" value="2.0.1-9e909a5bdd"/>
        <nvpair id="cib-bootstrap-options-cluster-infrastructure" name="cluster-infrastructure" value="corosync"/>
        <nvpair id="cib-bootstrap-options-cluster-name" name="cluster-name" value="debian"/>
        <nvpair id="cib-bootstrap-options-stonith-enabled" name="stonith-enabled" value="false"/>
      </cluster_property_set>
    </crm_config>
    <nodes>
      <node id="1" uname="k8s-controller-01"/>
      <node id="2" uname="k8s-controller-02"/>
      <node id="3" uname="k8s-controller-03"/>
    </nodes>
    <resources>
      <primitive class="ocf" id="kubernetes-ip" provider="heartbeat" type="IPaddr2">
        <instance_attributes id="kubernetes-ip-instance_attributes">
          <nvpair id="kubernetes-ip-instance_attributes-cidr_netmask" name="cidr_netmask" value="24"/>
          <nvpair id="kubernetes-ip-instance_attributes-ip" name="ip" value="{{ corosync_cluster_ip }}"/>
          <nvpair id="kubernetes-ip-instance_attributes-nic" name="nic" value="ens3"/>
        </instance_attributes>
        <operations>
          <op id="kubernetes-ip-monitor-interval-10s" interval="10s" name="monitor"/>
          <op id="kubernetes-ip-start-interval-0s" interval="0s" name="start" timeout="20s"/>
          <op id="kubernetes-ip-stop-interval-0s" interval="0s" name="stop" timeout="20s"/>
        </operations>
      </primitive>
    </resources>
    <constraints/>
  </configuration>
  <status>
    <node_state id="1" uname="k8s-controller-01" in_ccm="true" crmd="online" crm-debug-origin="do_update_resource" join="member" expected="member">
      <lrm id="1">
        <lrm_resources>
          <lrm_resource id="kubernetes-ip" type="IPaddr2" class="ocf" provider="heartbeat">
            <lrm_rsc_op id="kubernetes-ip_last_0" operation_key="kubernetes-ip_monitor_0" operation="monitor" crm-debug-origin="do_update_resource" crm_feature_set="3.1.0" transition-key="1:77:7:9623e737-7e5d-4ac5-a1f9-c36bc53d992e" transition-magic="0:7;1:77:7:9623e737-7e5d-4ac5-a1f9-c36bc53d992e" exit-reason="" on_node="k8s-controller-01" call-id="5" rc-code="7" op-status="0" interval="0" last-run="1642288320" last-rc-change="1642288320" exec-time="37" queue-time="0" op-digest="ab3e17a0392a7ab946044673428980d9"/>
          </lrm_resource>
        </lrm_resources>
      </lrm>
    </node_state>
  </status>
</cib>
