kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - secretbox:
          keys:
            - name: key1
              secret: {{ kubernetes_secrets_key_secretbox }}
      - identity: {}
